<a href="https://colab.research.google.com/github/ashwinihegde22/python/blob/main/babynames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv'

In [3]:
baby_names = pd.read_csv(url)

In [4]:
baby_names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1016395 entries, 0 to 1016394
Data columns (total 7 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   Unnamed: 0  1016395 non-null  int64
 1   Id          1016395 non-null  int64
 2   Name        1016395 non-null  object
 3   Year        1016395 non-null  int64
 4   Gender      1016395 non-null  object
 5   State       1016395 non-null  object
 6   Count       1016395 non-null  int64
dtypes: int64(4), object(3)
memory usage: 54.3+ MB

In [5]:
del baby_names['Year']

In [6]:
baby_names['Gender'].value_counts

<bound method IndexOpsMixin.value_counts of 0          F
1          F
2          F
3          F
4          F
          ..
1016390    M
1016391    M
1016392    M
1016393    M
1016394    M
Name: Gender, Length: 1016395, dtype: object>

In [7]:
names = baby_names.groupby('Name').sum()

In [8]:
len(names)

17632

In [9]:
names.Count.idxmax()

'Jacob'

In [10]:
names[names.Count == names.Count.min()]

          Unnamed: 0       Id  Count
Name
Aadarsh      1728030  1728031      5
Aadin        5061279  5061280      5
Aaima        3746779  3746780      5
Aalaya        564906   564907      5
Aaminah       523794   523795      5
...              ...      ...    ...
Zyien        5064199  5064200      5
Zyire        3853841  3853842      5
Zykeriah       89701    89702      5
Zykierra     1238449  1238450      5
Zymari       3179887  3179888      5

[2578 rows x 3 columns]

In [11]:
np.median(names.Count)

49.0

In [12]:
np.std(names.Count)

11005.757358500688

In [13]:
names.describe()

         Unnamed: 0            Id          Count
count  1.763200e+04  1.763200e+04   17632.000000
mean   1.631922e+08  1.631922e+08    2008.932169
std    3.504512e+08  3.504513e+08   11006.069468
min    8.606400e+04  8.606500e+04       5.000000
25%    4.918374e+06  4.918375e+06      11.000000
50%    1.963462e+07  1.963463e+07      49.000000
75%    1.071826e+08  1.071826e+08     337.000000
max    3.223035e+09  3.223036e+09  242874.000000