<a href="https://colab.research.google.com/github/ashwinihegde22/python/blob/main/datastructure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#list#
x = [5, 6,3, 4.5, "ashwini", "a", "b", (4, 0)]
dir(x)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
x.append('bca')

In [ ]:
x

[5, 6, 4.5, 'ashwini', ['a', 'b'], (4, 0), 'bca']

In [ ]:
x.extend([3, 4])

In [ ]:
x

[5, 6, 4.5, 'ashwini', ['a', 'b'], (4, 0), 'bca', 3, 4]

In [ ]:
x.insert(0, 'y')
print(x)

['y', 5, 6, 4.5, 'ashwini', ['a', 'b'], (4, 0), 'bca', 3, 4]

In [ ]:
del x[1]
print(x)

['y', 6, 4.5, 'ashwini', ['a', 'b'], (4, 0), 'bca', 3, 4]

In [ ]:
x.remove('ashwini')
print(x)

['y', 6, 4.5, ['a', 'b'], (4, 0), 'bca', 3, 4]

In [ ]:
x.reverse()
print(x)

[4, 3, 'bca', (4, 0), ['a', 'b'], 4.5, 6, 'y']

In [ ]:
y=[1,5,2,4]
y.sort()
y

[1, 2, 4, 5]

In [ ]:
print(x.index(6))
print(x)

2
[4.5, 5, 6, 'ashwini', 'a', 'b', (4, 0)]

In [ ]:
print(x.count(5))
print(x)

1
[5, 6, 3, 4.5, 'ashwini', 'a', 'b', (4, 0)]

In [ ]:
x.clear()
print(x)

[]

In [ ]:
x = [5, 6,3, 4.5, "ashwini", "a", "b", (4, 0)]

In [ ]:
print(x.pop(1))

6

In [ ]:
x.remove('a')

In [ ]:
x

[5, 3, 4.5, 'ashwini', 'b', (4, 0)]

In [ ]:
e = x.copy()

In [ ]:
e

[5, 3, 4.5, 'ashwini', 'b', (4, 0)]

In [ ]:
# tuple #

t = ( "Hello","Harry")

In [1]:
# Tuple with mixed values

t = (7,6,'Hi',13.5)

In [2]:
#empty tuple
t=()

In [3]:
# nested tuple

t = ( "Hi",[6,7,8],(1,'ash'))
t

('Hi', [6, 7, 8], (1, 'ash'))

In [7]:
#accessing tuple
t = ('a','b','c','d','f')

t[2]

'c'

In [8]:
# negative indexing

t = ('a','b','c','d','e')
t[-2]

'd'

In [9]:
t = ('a','b','c','d','e')
t[2]

'c'

In [12]:
# deleting tuple

x = ('Ashwini','anand','ram','manju')
del x
x

In [13]:
# slicing

t =  ('Jan','dev','roopa',10,45)
t[1:3]

('dev', 'roopa')

In [14]:
t = ('a','b','c','d','e')
t[:]

('a', 'b', 'c', 'd', 'e')

In [17]:
# while loop in tuple

t = ('A','V','S','R')
i=0
while i < len(t):
  print(t[i])
  i = i+1

A
V
S
R

In [18]:
# data types in tuple

t = ("apple", "banana", "cherry")
t = (1, 5, 7, 9, 3)
t= (True, False, False)

t

(True, False, False)

In [20]:
# convert tuple to list

x = ("a", "b", "c")
y = list(x)
y[1] = "k"
x = tuple(y)

print(x)

('a', 'k', 'c')

In [21]:
#set

set = {"cycle", "Car", "Motor vehicle"}
set

{'Car', 'Motor vehicle', 'cycle'}

In [22]:
# duplicate values

thisset = {"grapes", "banana", "cherry", }

print(thisset)

{'banana', 'grapes', 'cherry'}

In [53]:
# Add Set
set2={"a1","a2"}
set2.add("a3")
set2

{'a1', 'a2', 'a3'}

In [54]:
#update set
set3={"m1","m2"}
set2.update(set3)
set2

{'a1', 'a2', 'a3', 'm1', 'm2'}

In [ ]:
# remove

add_set.remove(4)
add_set

In [27]:
# loops

thisset = {"Bike", "Car", "Motor Vehicle"}

for x in thisset:
  print(x)

Motor Vehicle
Bike
Car

In [28]:
# join set union() method

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'c', 1, 2, 3, 'b', 'a'}

In [29]:
# update

set1 = {"p", "q" , "r"}
set2 = {6, 9, 10}

set1.update(set2)
print(set1)

{'p', 'q', 6, 9, 10, 'r'}

In [30]:
#DICTIONARY

# create dict

dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

dict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [31]:
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(dict["brand"])

Ford

In [32]:
# duplicate values

dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [33]:
# adding values

dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict["color"] = "red"
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [34]:
# update

dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict.update({"color": "black"})

In [35]:
# remove

dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict.pop("model")
print(dict)

{'brand': 'Ford', 'year': 1964}

In [36]:
# remove last inserted element

dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict.popitem()
print(dict)

{'brand': 'Ford', 'model': 'Mustang'}

In [37]:
# clear all

dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict.clear()
print(dict)

{}

In [38]:
# loops

for x in dict:
  print(x)

In [39]:
for x in dict:
  print(dict[x])

In [ ]:
# values

for x in thisdict.keys():
  print(x)

In [40]:
# item method

for x, y in dict.items():
  print(x, y)

In [41]:
# copy () method

dict = {
  "brand": "Benz",
  "model": "marsidez",
  "year": 1980
}
mydict = dict.copy()
print(mydict)

{'brand': 'Benz', 'model': 'marsidez', 'year': 1980}

In [55]:
# Three Dictionary

member = {
  "member1" : {
    "name" : "manju",
    "year" : 1965
  },
  "member2" : {
    "name" : "ramu",
    "year" : 2010
  },
  "member3" : {
    "name" : "anand",
    "year" : 2011
  }
}

member

{'member1': {'name': 'manju', 'year': 1965},
 'member2': {'name': 'ramu', 'year': 2010},
 'member3': {'name': 'anand', 'year': 2011}}