<a href="https://colab.research.google.com/github/ashwinihegde22/python/blob/main/exercise2python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
string1, string2, string3 = input("Enter three string").split()
print('Name1:', string1)
print('Name2:', string2)
print('Name3:', string3)

Enter three stringashwini keerti sucheta
Name1: ashwini
Name2: keerti
Name3: sucheta

In [12]:
row = 5
for i in range(1, row + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [13]:
n = int(input("Enter  the number"))
sums = 0
for num in range(1, n + 1, 1):
    sums = sums + num
print("Sum of the numbers is: ", sums)

Enter  the number6
Sum of the numbers is:  21

In [14]:
list1 = [11,22,33,44,55]
print("List before reverse : ",list1)
list1.reverse()
print("List after reverse : ",list1)

List before reverse :  [11, 22, 33, 44, 55]
List after reverse :  [55, 44, 33, 22, 11]

In [15]:
minimum = int(input("Enter the minimum range: "))
maximum = int(input("Enter the maximum range : "))
for n in range(minimum,maximum + 1):
   if n > 1:
       for i in range(2,n):
           if (n % i) == 0:
               break
       else:
           print(n)

Enter the minimum range: 1
Enter the maximum range : 10
2
3
5
7

In [16]:
number = 7


number = int(input("Enter a number: "))

factorial = 1

if number < 0:
   print(" factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,number + 1):
       factorial = factorial*i
   print("The factorial of",number,"is",factorial)

Enter a number: 6
The factorial of 6 is 720

In [17]:
row = 5
for i in range(0, row):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(row, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*