<a href="https://colab.research.google.com/github/ashwinihegde22/python/blob/main/spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 50 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 41.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=007eb761eadd0b97df74515dccd990c46af8687bc90275fdd2727c22cb01552d
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [29]:
import pyspark

In [30]:
import pandas as pd
import pandas as pd
url ='https://raw.githubusercontent.com/a-forty-two/DFE6/main/titanic.csv'
type(pd.read_csv(url))

pandas.core.frame.DataFrame

In [31]:
from pyspark.sql import SparkSession

In [32]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [33]:
spark

In [37]:
df_pyspark =spark.read.option('header','true').csv('Book1.csv',inferSchema=True)

In [38]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [39]:
df_pyspark.printSchema()

root
 |-- FirstName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- salary: integer (nullable = true)

In [40]:
df_pyspark

DataFrame[FirstName: string, LastName: string, Age: int, salary: int]

In [41]:
df_pyspark.show()

+---------+--------+----+------+
|FirstName|LastName| Age|salary|
+---------+--------+----+------+
|  Ashwini|   Hegde|  21| 26000|
|   shreya|   hegde|  22| 25000|
|  sucheta|     rdb|  23| 23000|
|   sujata|      ak|  25| 22000|
|    ninad|   hegde|  22| 80000|
|      nan|    null|null|  null|
+---------+--------+----+------+

In [42]:
df_pyspark.tail(3)

[Row(FirstName='sujata', LastName='ak', Age=25, salary=22000),
 Row(FirstName='ninad', LastName='hegde', Age=22, salary=80000),
 Row(FirstName='nan', LastName=None, Age=None, salary=None)]

In [ ]:
df_pyspark.head(2)

[Row(FirstName='Ashwini', LastName='Hegde', Age=21, salary=26000),
 Row(FirstName='shreya', LastName='hegde', Age=22, salary=25000)]

In [43]:
df_pyspark = df_pyspark.withColumn('salarybonus',df_pyspark['salary']+2000)

In [44]:
df_pyspark= df_pyspark.drop('age')

In [45]:
df_pyspark.show()

+---------+--------+------+-----------+
|FirstName|LastName|salary|salarybonus|
+---------+--------+------+-----------+
|  Ashwini|   Hegde| 26000|      28000|
|   shreya|   hegde| 25000|      27000|
|  sucheta|     rdb| 23000|      25000|
|   sujata|      ak| 22000|      24000|
|    ninad|   hegde| 80000|      82000|
|      nan|    null|  null|       null|
+---------+--------+------+-----------+

In [ ]:
df_pyspark = df_pyspark.withColumnRenamed('FirstName','name')

In [ ]:
df_pyspark.select(['name',"Salary"]).show()

+-------+------+
|   name|Salary|
+-------+------+
|Ashwini| 26000|
| shreya| 25000|
|sucheta| 23000|
| sujata| 22000|
|  ninad| 80000|
|    nan|  null|
+-------+------+

In [ ]:
df_pyspark.dtypes

[('name', 'string'),
 ('LastName', 'string'),
 ('salary', 'int'),
 ('salarybonus', 'int')]

In [ ]:
df_pyspark.describe().show()

+-------+-------+--------+-----------------+-----------------+
|summary|   name|LastName|           salary|      salarybonus|
+-------+-------+--------+-----------------+-----------------+
|  count|      6|       5|                5|                5|
|   mean|    NaN|    null|          35200.0|          37200.0|
| stddev|   null|    null|25093.82394136055|25093.82394136055|
|    min|Ashwini|   Hegde|            22000|            24000|
|    max| sujata|     rdb|            80000|            82000|
+-------+-------+--------+-----------------+-----------------+

In [ ]:
df_pyspark= spark.read.csv("Book1.csv", header=True, inferSchema = True)

In [ ]:
df_pyspark.show()

+-------+--------+------+-----------+
|   name|LastName|salary|salarybonus|
+-------+--------+------+-----------+
|Ashwini|   Hegde| 26000|      28000|
| shreya|   hegde| 25000|      27000|
|sucheta|     rdb| 23000|      25000|
| sujata|      ak| 22000|      24000|
|  ninad|   hegde| 80000|      82000|
|    nan|    null|  null|       null|
+-------+--------+------+-----------+

In [ ]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- salarybonus: integer (nullable = true)

In [ ]:
df_pyspark.dtypes

[('name', 'string'),
 ('LastName', 'string'),
 ('salary', 'int'),
 ('salarybonus', 'int')]

In [ ]:
df_pyspark.drop("name").show()

+--------+------+-----------+
|LastName|salary|salarybonus|
+--------+------+-----------+
|   Hegde| 26000|      28000|
|   hegde| 25000|      27000|
|     rdb| 23000|      25000|
|      ak| 22000|      24000|
|   hegde| 80000|      82000|
|    null|  null|       null|
+--------+------+-----------+

In [ ]:
df_pyspark.show()

+-------+--------+------+-----------+
|   name|LastName|salary|salarybonus|
+-------+--------+------+-----------+
|Ashwini|   Hegde| 26000|      28000|
| shreya|   hegde| 25000|      27000|
|sucheta|     rdb| 23000|      25000|
| sujata|      ak| 22000|      24000|
|  ninad|   hegde| 80000|      82000|
|    nan|    null|  null|       null|
+-------+--------+------+-----------+

In [ ]:
df_pyspark.na.drop().show()

+-------+--------+------+-----------+
|   name|LastName|salary|salarybonus|
+-------+--------+------+-----------+
|Ashwini|   Hegde| 26000|      28000|
| shreya|   hegde| 25000|      27000|
|sucheta|     rdb| 23000|      25000|
| sujata|      ak| 22000|      24000|
|  ninad|   hegde| 80000|      82000|
+-------+--------+------+-----------+

In [ ]:
df_pyspark.na.drop(how="any").show()

+-------+--------+------+-----------+
|   name|LastName|salary|salarybonus|
+-------+--------+------+-----------+
|Ashwini|   Hegde| 26000|      28000|
| shreya|   hegde| 25000|      27000|
|sucheta|     rdb| 23000|      25000|
| sujata|      ak| 22000|      24000|
|  ninad|   hegde| 80000|      82000|
+-------+--------+------+-----------+

In [ ]:
df_pyspark.show()

+-------+--------+------+-----------+
|   name|LastName|salary|salarybonus|
+-------+--------+------+-----------+
|Ashwini|   Hegde| 26000|      28000|
| shreya|   hegde| 25000|      27000|
|sucheta|     rdb| 23000|      25000|
| sujata|      ak| 22000|      24000|
|  ninad|   hegde| 80000|      82000|
|    nan|    null|  null|       null|
+-------+--------+------+-----------+

In [ ]:
df_pyspark.na.drop(how='any', thresh=3).show()

+-------+--------+------+-----------+
|   name|LastName|salary|salarybonus|
+-------+--------+------+-----------+
|Ashwini|   Hegde| 26000|      28000|
| shreya|   hegde| 25000|      27000|
|sucheta|     rdb| 23000|      25000|
| sujata|      ak| 22000|      24000|
|  ninad|   hegde| 80000|      82000|
+-------+--------+------+-----------+

In [46]:
df_pyspark.na.drop(how="any",thresh)

SyntaxError: ignored

In [ ]:
df_pyspark.na.drop(how='any', subset=['name']).show()

+-------+--------+------+-----------+
|   name|LastName|salary|salarybonus|
+-------+--------+------+-----------+
|Ashwini|   Hegde| 26000|      28000|
| shreya|   hegde| 25000|      27000|
|sucheta|     rdb| 23000|      25000|
| sujata|      ak| 22000|      24000|
|  ninad|   hegde| 80000|      82000|
|    nan|    null|  null|       null|
+-------+--------+------+-----------+

In [ ]:
x=df_pyspark.na.fill('Missing Values',['name'])

In [ ]:
df_pyspark.show()

+-------+--------+------+-----------+
|   name|LastName|salary|salarybonus|
+-------+--------+------+-----------+
|Ashwini|   Hegde| 26000|      28000|
| shreya|   hegde| 25000|      27000|
|sucheta|     rdb| 23000|      25000|
| sujata|      ak| 22000|      24000|
|  ninad|   hegde| 80000|      82000|
|    nan|    null|  null|       null|
+-------+--------+------+-----------+

In [47]:
from pyspark.ml.feature import Imputer

In [48]:
impute =Imputer(inputCols=['name','Lastname','salary'],
                outputCols=["{}_imputed".format(c) for c in ['name','Lastname','salary'] ]).setStrategy('mean')

In [51]:
impute.fit(df_pyspark).transform(df_pyspark).show()

IllegalArgumentException: ignored

In [ ]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- salarybonus: integer (nullable = true)

In [ ]:
df_pyspark.show()

+-------+--------+------+-----------+
|   name|LastName|salary|salarybonus|
+-------+--------+------+-----------+
|Ashwini|   Hegde| 26000|      28000|
| shreya|   hegde| 25000|      27000|
|sucheta|     rdb| 23000|      25000|
| sujata|      ak| 22000|      24000|
|  ninad|   hegde| 80000|      82000|
|    nan|    null|  null|       null|
+-------+--------+------+-----------+

In [ ]:
df_pyspark.filter('salary>=80000').show()

+-----+--------+------+-----------+
| name|LastName|salary|salarybonus|
+-----+--------+------+-----------+
|ninad|   hegde| 80000|      82000|
+-----+--------+------+-----------+

In [ ]:
df_pyspark.filter(df_pyspark['salary']>=20000).select(['name','salary']).show()

+-------+------+
|   name|salary|
+-------+------+
|Ashwini| 26000|
| shreya| 25000|
|sucheta| 23000|
| sujata| 22000|
|  ninad| 80000|
+-------+------+

In [ ]:
df_pyspark.filter((df_pyspark['salary']>=80000) | (df_pyspark['salary']>=25000)).show()

+-------+--------+------+-----------+
|   name|LastName|salary|salarybonus|
+-------+--------+------+-----------+
|Ashwini|   Hegde| 26000|      28000|
| shreya|   hegde| 25000|      27000|
|  ninad|   hegde| 80000|      82000|
+-------+--------+------+-----------+

In [ ]:
df_pyspark.filter((df_pyspark['salary']>=80000) & (df_pyspark['salary']>=25000)).show()

+-----+--------+------+-----------+
| name|LastName|salary|salarybonus|
+-----+--------+------+-----------+
|ninad|   hegde| 80000|      82000|
+-----+--------+------+-----------+

In [ ]:
df_pyspark.filter(df_pyspark.name.rlike("Ashwini")).show()

+-------+--------+------+-----------+
|   name|LastName|salary|salarybonus|
+-------+--------+------+-----------+
|Ashwini|   Hegde| 26000|      28000|
+-------+--------+------+-----------+

In [52]:
from pyspark.sql import SparkSession

In [53]:
df=spark.read.csv('Book4.csv',header=True,inferSchema=True)

In [ ]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [56]:
df=df.groupBy('Name')

AttributeError: ignored

In [57]:
df.show()

AttributeError: ignored

In [ ]:
df.groupBy('Name').sum().show()

AttributeError: ignored

In [ ]:
df.groupBy('Name').avg().show()

+---------+------------------+
|     Name|       avg(salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

In [ ]:
df.groupBy('Name').mean().show()

+---------+------------------+
|     Name|       avg(salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

In [ ]:
df.groupBy('Name').max().show()

+---------+-----------+
|     Name|max(salary)|
+---------+-----------+
|Sudhanshu|      20000|
|    Sunny|      10000|
|    Krish|      10000|
|   Mahesh|       4000|
+---------+-----------+

In [28]:
df.groupBy('Departments').sum().show()

NameError: ignored

In [58]:
df.groupBy('Name').count().show()

AttributeError: ignored

In [59]:
df.show()

AttributeError: ignored

In [ ]:
df.agg({'Salary':"sum"}).show()

+---------+-----------+
|     Name|sum(Salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [20]:
#Preparing the data

data= [('James',"Sales",3000),\
       ('Michael',"Sales", 4600),\
       ("Robert","Sales", 4100),\
       ("Maria","Finance",3000),\
       ("James","Sales",3000),\
       ("Scott","Finance",3900),\
       ("Jen","Finance",3900),\
       ("Jeff","Marketing",3000),\
       ('Kumar',"Marketing",2000),\
       ("Saif","Sales",4100)]

columns=['Employee_Name','Department',"Salary"]

In [21]:
dataframe = spark.createDataFrame(data=data,schema=columns)

In [ ]:
dataframe.printSchema()

root
 |-- Employee_Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: long (nullable = true)

In [22]:
dataframe.show()

+-------------+----------+------+
|Employee_Name|Department|Salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|        James|     Sales|  3000|
|        Scott|   Finance|  3900|
|          Jen|   Finance|  3900|
|         Jeff| Marketing|  3000|
|        Kumar| Marketing|  2000|
|         Saif|     Sales|  4100|
+-------------+----------+------+

In [23]:
dataframe.show(truncate=False)

+-------------+----------+------+
|Employee_Name|Department|Salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Michael      |Sales     |4600  |
|Robert       |Sales     |4100  |
|Maria        |Finance   |3000  |
|James        |Sales     |3000  |
|Scott        |Finance   |3900  |
|Jen          |Finance   |3900  |
|Jeff         |Marketing |3000  |
|Kumar        |Marketing |2000  |
|Saif         |Sales     |4100  |
+-------------+----------+------+

In [24]:
x=dataframe.distinct()

In [25]:
x.show(truncate=False)

+-------------+----------+------+
|Employee_Name|Department|Salary|
+-------------+----------+------+
|Michael      |Sales     |4600  |
|James        |Sales     |3000  |
|Robert       |Sales     |4100  |
|Maria        |Finance   |3000  |
|Jen          |Finance   |3900  |
|Kumar        |Marketing |2000  |
|Jeff         |Marketing |3000  |
|Saif         |Sales     |4100  |
|Scott        |Finance   |3900  |
+-------------+----------+------+

In [26]:
y=dataframe.dropDuplicates()

In [27]:
y.show(truncate=False)

+-------------+----------+------+
|Employee_Name|Department|Salary|
+-------------+----------+------+
|Michael      |Sales     |4600  |
|James        |Sales     |3000  |
|Robert       |Sales     |4100  |
|Maria        |Finance   |3000  |
|Jen          |Finance   |3900  |
|Kumar        |Marketing |2000  |
|Jeff         |Marketing |3000  |
|Saif         |Sales     |4100  |
|Scott        |Finance   |3900  |
+-------------+----------+------+